
<html>
<head>
    <title>hi</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
<h1> Schedule Please!</h1>
<center>
    <img src="https://picsum.photos/200">
</center>
<br>
<br>
{%for i in range(8)%}


<label>Period {{i + 1}} <input data-period> </label>
<br>
<br>

{%endfor%}

<marquee id = birds dir="ltr">
    <img src="https://png.pngtree.com/png-vector/20221111/ourmid/pngtree-flying-birds-silhouette-vector-png-image_6442209.png">
</marquee>

<label> ID <input id="identification"></label>
<p id = stuff></p>

<button id = run>Enter</button> 

<script src="main.js"></script>
</body>
</html>
